RewriteEngine On
RewriteBase /

ErrorDocument 404 /404/error.php

#Включаем https протокол редирект
RewriteCond %{ENV:HTTPS} !on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]



#Включаем 403 редирект, если кто-то захочет подглядеть внутрь.
Options -indexes
#Включаем 403 редирект, если кто-то захочет подглядеть внутрь.

#301 редирект с www на без www (главное зеркало – домен без www)
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]
#301 редирект с www на без www (главное зеркало – домен без www)

<FilesMatch "\.php"​>
SetHandler application/x-httpd-alt-php80
</FilesMatch>
